기본 틀
```python
new_dict = {new_key:new_value for item in list}
```

In [2]:
students = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

score_board ={students : scores for students, scores in zip(students, scores)}

score_board

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [3]:
numbers = [10, -5, 0, 20, -15, 3]

"""
중첩된 if-else 표현식을 사용하여 elif 효과를 냅니다.
"""

number_class = [
    'positive' if num > 0 else ('negative' if num < 0 else 'zero')
    for num in numbers
]

print(number_class)

['positive', 'negative', 'zero', 'positive', 'negative', 'positive']

In [4]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

"""
키, 값, 필터링에 모두 조건을 적용하는 예제
"""
grade_report = {
    # 3. 키(Key) 조건: 'Alice'이면 특별한 이름으로, 아니면 원래 이름으로
    (name + ' (팀장)' if name == 'Alice' else name):

    # 2. 값(Value) 조건: 점수가 90점 이상이면 'A', 아니면 'B'
    ('A' if score >= 90 else 'B')

    # for 루프
    for name, score in scores.items()

    # 1. 필터링 조건: 점수가 70점 이상인 학생만 포함
    if score >= 70
}

print(grade_report)

{'Alice (팀장)': 'B', 'Bob': 'A', 'Charlie': 'B'}

In [5]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

"""
새로운 보고서를 담을 빈 딕셔너리를 먼저 생성합니다.
"""
grade_report_for_loop = {}

"""
scores 딕셔너리의 모든 항목을 순회합니다.
.items()를 사용하여 이름(name)과 점수(score)를 한 번에 가져옵니다.
"""
for name, score in scores.items():
    """
    1. 필터링 조건
    점수가 70점 이상인 경우에만 아래의 로직을 실행합니다.
    70점 미만이면 이 학생은 그냥 건너뜁니다.
    """
    if score >= 70:
        final_key = name
        final_value = ''

        """
        2. 키(Key) 조건
        이름이 'Alice'이면 키의 끝에 '(팀장)'을 추가합니다.
        """
        if name == 'Alice':
            final_key = name + ' (팀장)'

        """
        3. 값(Value) 조건
        점수가 90점 이상이면 값으로 'A'를, 그렇지 않으면 'B'를 할당합니다.
        """
        if score >= 90:
            final_value = 'A'
        else:
            final_value = 'B'

        """
        최종적으로 결정된 키와 값으로 새로운 딕셔너리에 항목을 추가합니다.
        """
        grade_report_for_loop[final_key] = final_value

print(grade_report_for_loop)

{'Alice (팀장)': 'B', 'Bob': 'A', 'Charlie': 'B'}

In [3]:
import pandas as pd

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

score_pd = pd.DataFrame(scores.items())
score_pd

         0   1
0    Alice  85
1      Bob  92
2  Charlie  78
3    David  65
4      Eve  45

In [4]:
import pandas as pd

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

score_pd = pd.Series(scores)
score_pd

Alice      85
Bob        92
Charlie    78
David      65
Eve        45
dtype: int64