기본 틀
```python
new_dict = {new_key:new_value for item in list}
```

In [2]:
students = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

score_board ={students : scores for students, scores in zip(students, scores)}

score_board

{'Alice': 85, 'Bob': 92, 'Charlie': 78}

In [3]:
numbers = [10, -5, 0, 20, -15, 3]

"""
중첩된 if-else 표현식을 사용하여 elif 효과를 냅니다.
"""

number_class = [
    'positive' if num > 0 else ('negative' if num < 0 else 'zero')
    for num in numbers
]

print(number_class)

['positive', 'negative', 'zero', 'positive', 'negative', 'positive']

In [4]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

"""
키, 값, 필터링에 모두 조건을 적용하는 예제
"""
grade_report = {
    # 3. 키(Key) 조건: 'Alice'이면 특별한 이름으로, 아니면 원래 이름으로
    (name + ' (팀장)' if name == 'Alice' else name):

    # 2. 값(Value) 조건: 점수가 90점 이상이면 'A', 아니면 'B'
    ('A' if score >= 90 else 'B')

    # for 루프
    for name, score in scores.items()

    # 1. 필터링 조건: 점수가 70점 이상인 학생만 포함
    if score >= 70
}

print(grade_report)

{'Alice (팀장)': 'B', 'Bob': 'A', 'Charlie': 'B'}

In [5]:
scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

"""
새로운 보고서를 담을 빈 딕셔너리를 먼저 생성합니다.
"""
grade_report_for_loop = {}

"""
scores 딕셔너리의 모든 항목을 순회합니다.
.items()를 사용하여 이름(name)과 점수(score)를 한 번에 가져옵니다.
"""
for name, score in scores.items():
    """
    1. 필터링 조건
    점수가 70점 이상인 경우에만 아래의 로직을 실행합니다.
    70점 미만이면 이 학생은 그냥 건너뜁니다.
    """
    if score >= 70:
        final_key = name
        final_value = ''

        """
        2. 키(Key) 조건
        이름이 'Alice'이면 키의 끝에 '(팀장)'을 추가합니다.
        """
        if name == 'Alice':
            final_key = name + ' (팀장)'

        """
        3. 값(Value) 조건
        점수가 90점 이상이면 값으로 'A'를, 그렇지 않으면 'B'를 할당합니다.
        """
        if score >= 90:
            final_value = 'A'
        else:
            final_value = 'B'

        """
        최종적으로 결정된 키와 값으로 새로운 딕셔너리에 항목을 추가합니다.
        """
        grade_report_for_loop[final_key] = final_value

print(grade_report_for_loop)

{'Alice (팀장)': 'B', 'Bob': 'A', 'Charlie': 'B'}

In [3]:
import pandas as pd

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

score_pd = pd.DataFrame(scores.items())
score_pd

         0   1
0    Alice  85
1      Bob  92
2  Charlie  78
3    David  65
4      Eve  45

In [4]:
import pandas as pd

scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 65, 'Eve': 45}

score_pd = pd.Series(scores)
score_pd

Alice      85
Bob        92
Charlie    78
David      65
Eve        45
dtype: int64

```python
new_dict = {new_key:new_value for (key, value) in dict.items()}
```

In [6]:
sentence = sorted(map(int,input().split(',')))

sentence

[1, 2, 2, 3, 4, 4, 6, 8, 66, 78, 99]

In [ ]:
"""
for 반복문을 사용하는 경우
"""
str_numbers = ['1', '5', '10', '20']
int_numbers = []
for s in str_numbers:
    int_numbers.append(int(s))
print(int_numbers)

"""
map을 사용하는 경우 (훨씬 간결함)
"""
str_numbers = ['1', '5', '10', '20']
int_numbers_map = list(map(int, str_numbers))
print(int_numbers_map)

In [9]:
"""
두 리스트의 같은 인덱스에 있는 요소끼리 더합니다.
"""
list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]

"""
lambda x, y: x + y 함수가
list1의 요소 x와 list2의 요소 y를 하나씩 받아 더합니다.
"""
sum_list = list(map(lambda x, y: x + y, list1, list2))
print(sum_list)

[11, 22, 33, 44]

In [13]:
def temp_chang_c_to_f(temp_c):
    return (temp_c * 9/5) + 32

weather_c = {"Monday": 12, "Tuesday": 14, "Wednesday": 15, "Thursday": 14,}

weather_f = {day : temp_chang_c_to_f(temp) for day, temp in weather_c.items()}

weather_f

{'Monday': 53.6, 'Tuesday': 57.2, 'Wednesday': 59.0, 'Thursday': 57.2}

```python
new_dict = {new_key:new_value for (key, value) in dict.items() if test}
```

In [20]:
import pandas as pd

student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score": [56, 76, 98]
}

student_dict_pd = pd.DataFrame(student_dict)
student_dict_pd.set_index("student").to_csv("student_dict.csv")
student_dict_pd

  student  score
0  Angela     56
1   James     76
2    Lily     98

In [1]:
import pandas as pd

student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score": [56, 76, 98]
}
student_df = pd.DataFrame(student_dict).set_index("student")

"""
.iterrows()를 사용하여 각 학생(인덱스)과 점수(행 데이터)를 출력합니다.
"""
for student_name, row_data in student_df.iterrows():
    print(f"--- {student_name} 학생의 정보 ---")
    print("전체 행 데이터 (시리즈 객체):")
    print(row_data)
    print(f"점수만 따로 확인: {row_data['score']}")
    print("\n")

--- Angela 학생의 정보 ---
전체 행 데이터 (시리즈 객체):
score    56
Name: Angela, dtype: int64
점수만 따로 확인: 56


--- James 학생의 정보 ---
전체 행 데이터 (시리즈 객체):
score    76
Name: James, dtype: int64
점수만 따로 확인: 76


--- Lily 학생의 정보 ---
전체 행 데이터 (시리즈 객체):
score    98
Name: Lily, dtype: int64
점수만 따로 확인: 98

In [13]:
import pandas as pd

student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score": [56, 76, 98]
}
student_df = pd.DataFrame(student_dict).set_index("student")

"""
'James' 학생의 'score'를 80점으로 수정합니다.
"""
student_df.loc['James', 'score'] = 80

print(student_df)

         score
student
Angela      56
James       80
Lily        98

In [11]:
import pandas as pd

student_dict = {
    "student": ["Angela", "James", "Lily"],
    "score": [56, 76, 98]
}
student_df2 = pd.DataFrame(student_dict)

student_df2.iloc[2,0] = 80
student_df2

  student  score
0  Angela     56
1   James     76
2      80     98

In [16]:
for index, row in  student_df2.iterrows():
    if row.student == "Angela":
        print(row.score)

56